<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="bodyContainer">
        <div class="headerContainer">
            <div class="headerItem">
                <!-- <h2 id="title">More</h2> -->
                <a href="../index.html"><img id="backButton" class="imageButton" src="../static/images/arrow.png" alt="Settings"></a>
                <h2 id="title">More</h2>

            </div>
            <div class="headerItem">
                <a href="settings.html"><img id="settingsButton" class="imageButton" src="../static/images/settings.png" alt="Settings"></a>
                <a href="more.html"><img id="moreButton" class="imageButton" src="../static/images/more.png" alt="More"></a>
            </div>
        </div>
        <div class="moreContentContainer">
            <h2 class="moreContentHeader">About</h2>
            <p class="moreText">
                Developed in the late 1980s, the Pomodoro Technique is a form of time management that involves chunking work and breaks into 25 and 5-minute intervals, respectively.
                <br>
                <br>
                By breaking up your work sessions, one can reach states of deep focus, limit distractions, and prevent burnout from long periods of work.
                You can read more about the Pomodoro Technique <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">here</a>.
            </p>
        </div>
    </div>
    <script src="static/index.js"></script>
</body>
</html>